body {
    font-family: Arial, sans-serif;
    background-color: #ffffff; 
    margin: 0;
    padding: 20px;
    overflow-x: hidden;
}

a {
    text-decoration: none; 
}

h1 {
    color: #333; 
    text-align: center;
}

.table {
    background-color: #fff; 
    border-radius: 8px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    margin: 20px 0; 
}
.table, button{
    font-size: 15px;
}

.Create-pro{
    background: green;
    color: white;
    border-radius: 0.2rem;
}


.table th, .table td {
    text-align: center; 
    padding: 12px; 
    color: #333; 
}

.table th {
    background-color: #28a745; 
    color: white; 
    font-weight: bold; 
    text-transform: uppercase; 
}

.table-striped tbody tr:nth-of-type(odd) {
    background-color: #f8f9fa; 
}

.table-hover tbody tr:hover {
    background-color: #e2e6ea; 
}

.btn {
    margin-right: 5px; 
    transition: background-color 0.3s ease, transform 0.2s; 
}

.btn:hover {
    transform: scale(1.05); 
}

.btn-primary {
    border: none; 
}

.btn-primary:hover {
    background-color: green; 
    border-radius: 0.3  rem;
}

.btn-warning {
    background-color: green;
    border: none;
    border-radius: 0.3rem;
    color: black;
}

.btn-warning:hover {
    background-color: green; 
}

.btn-danger {
    background-color: #dc3545; 
    border: none;
    border-radius: 0.3rem;
}

.btn-danger:hover {
    background-color: #c82333; 
}
