body {
    font-family: Arial, sans-serif;
    background-color: #ffffff; /* Fondo blanco */
    margin: 0;
    padding: 20px;
}

a {
    text-decoration: none; 
}

h1 {
    color: #333; /* Un tono gris oscuro para mejor contraste */
    font-family: 'Arial', sans-serif;
    text-align: center;
}

.table {
    background-color: #fff; 
    border-radius: 8px; 
    overflow: hidden; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra más sutil */
    margin: 20px 0; /* Espaciado superior e inferior */
}

.table th, .table td {
    text-align: center; 
    padding: 12px; 
    color: #333; /* Color del texto más oscuro para legibilidad */
}

.table th {
    background-color: #28a745; 
    color: white; 
    font-weight: bold; 
    text-transform: uppercase; 
}

.table-striped tbody tr:nth-of-type(odd) {
    background-color: #f8f9fa; /* Color de fondo más claro para filas impares */
}

.table-hover tbody tr:hover {
    background-color: #e2e6ea; /* Color de fondo más claro en hover */
}

.btn {
    margin-right: 5px; 
    transition: background-color 0.3s ease, transform 0.2s; /* Añadido efecto de transformación */
}

.btn:hover {
    transform: scale(1.05); /* Efecto de crecimiento al pasar el mouse */
}

.btn-primary {
    border: none; 
}

.btn-primary:hover {
    background-color: green; 
    border-radius: 0.3  rem;
}

.btn-warning {
    background-color: green;
    border: none;
    border-radius: 0.3rem;
    color: black;
}

.btn-warning:hover {
    background-color: green; 
}

.btn-danger {
    background-color: #dc3545; 
    border: none;
    border-radius: 0.3rem;
}

.btn-danger:hover {
    background-color: #c82333; 
}
